.new-password-form,
.recovery-form {
  padding: 15px 35px 60px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
}

.new-password-form__heading,
.recovery-form__heading {
  margin-bottom: 30px;
}

.new-password-form__fields,
.recovery-form__fields {
  margin-bottom: 15px;
}

.recovery-form__email {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  &:focus {
    z-index: 2;
  }
}
.new-password-form__password {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    z-index: 2;
  }
}
.new-password-form__password-confirm {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:focus {
    z-index: 2;
  }
}
